extends /layouts/main.pug

block content
    div#app
    div.footer 
        button.button.ambientLight ambientLight
        button.button.hemisphereLight hemisphereLight
    script(type="module", src="/src/pages/light/light.ts") 